.header__contacts-phone {
    position: relative;
}

.header__contacts-phone:hover {
    color: #BAE249;
    text-decoration: underline;
}

.header__contacts-phone::before {
    content: '';
    position: absolute;
    background-image: url("../../../images/phone.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    inset-inline-start: -25px;
    inset-block-start: 0;
}
