body{
    background-color: #7d6d6d;
}

p {
   font-family: Ponomar, sans-serif;
    font-size: 80px;
    text-align: center;
    color: #763d1d;
}

.small-text{
    font-size: 50px;
    color: #763d1d;
}

.box {
    margin: 0 auto;
}
