@import url("header/header.css");
@import url("section/section.css");

body {
    box-sizing: border-box;
    background-color: #7d6d6d;
}

a {
    text-decoration: none;
    color: black;
}

p {
   font-family: Ponomar, sans-serif;
    font-size: 80px;
    text-align: center;
    color: #763d1d;
}

h1{
    font-family: Ponomar, sans-serif;
    color: #763d1d;
    text-align: center;
}

.box {
    margin: 0 auto;
}
