@import url("__logo/header__logo.css");
@import url("__menu/header__menu.css");
@import url("__menu/header__menu-list.css");
@import url("__menu/header__menu-item.css");

.header {
    display: flex;
    background-color: #104325;
    padding-block: 20px;
}
